img.tweet-image {
  border-radius: 10px;
}

h4.tweet-author span {
  color: gray;
  font-size: 16px;
}

.section-wrapper {
  background-color: #E9EBEE;
}

.user-wrapper {
  background-color: #E9EBEE;
  width: 50%;
  margin: 0 auto;
  clear: both;
}

.user-heading-wrapper,
.details-wrapper {
  background-color: #fff;
  border: solid 1px #d6d1d1;
  padding: 10px;
  list-style: none;
}

div.details-wrapper .user-list {
  padding: 10px 0;
  border-bottom: 1px solid #d3d3d3;
  margin-top: 0;
}
div.details-wrapper .user-list:last-child {
  border-bottom: 0px;
}

.user-heading-wrapper {
  border-bottom: 0px !important;
}

.user-heading {
  font-size: 16px;
  font-weight: 900;
}

.user-name {
  color: #4B5289;
  font-weight: 900;
}
