
<div class="section-wrapper">   
    <div class="user-wrapper">
        <div class="user-heading-wrapper">
            <h2 class="user-heading">Users</h2>
        </div>
        <div class="details-wrapper">
            <div *ngFor="let user of users; let i = index" class="media ">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object tweet-image" src="http://lorempixel.com/100/100/people?{{ i }}" alt="User image">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading tweet-author">
                  <span class="user-name">{{ user.id }}. {{ user.name }}</span>
                </h4>
                    <p>{{ user.bio }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
