<div>
    <div class="cover-body">
        <div class="cover-pic">
            <img src="http://lorempixel.com/851/315/nature" class="cover">
        </div>
        <div class="profile-menu">
            <ul>
                <li routerLinkActive="active">
                    <a routerLink="/notification_settings">Notification Settings</a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="/account_settings">Account Settings</a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="/profile_personal">Personal Information</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<app-user></app-user>
