div.cover-body {
  background-color: #EAEBEF;
  width: 50%;
  margin: 0 auto;
}

div.cover-pic img {
  width: 100%;
}

div.profile-menu {
  border-right: 1px solid #D3D6DB;
  margin: 0 auto;
  background-color: #fff;
  width: 100%;
  float: left;
  border-left: 1px solid #D3D6DB;
}

.profile-menu ul {
  padding-left: 0;
  width: 100%;
  border-bottom: 1px solid #EAEBEF;
  background-color: #fff;
}

.profile-menu ul li {
  line-height: 3.05;
  vertical-align: middle;
  white-space: nowrap;
  border-left: 1px solid #EAEBEF;
  float: right;
  font-size: 14px;
  font-weight: bold;
  padding: 0 4%;
  color: #1d2129;
  list-style-type: none;
}

.profile-menu ul li a:hover {
  text-decoration: none;
}
